<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vergionmaryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyFreeApplication"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".booking.bookEvent.BookingConfirmationActivity"
            android:theme="@style/TarnemaStyle" />
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/TarnemaStyle" />
        <activity android:name=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.HymensActivity"
            android:theme="@style/AddChoirTheme" />
        <activity
            android:name=".booking.showEvents.EventListViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AddChoirTheme" />
        <activity
            android:name=".booking.bookEvent.BookingEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AddChoirTheme" />
        <activity
            android:name=".activities.WordsActivity"
            android:theme="@style/TarnemaStyle" />
    </application>

</manifest>